<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/about') }}">
</head>
<body>
    <h1>ABOUT US</h1>
    <h1 class ="you">Hi,{{username}}!</h1>
    <p class="me">Welcome to my flask page </p>
    <h1>ABOUT MY APPLICATION </h1>
    <p>THIS IS MY APPLICATION.</p>
</body>
</html>