<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user</title>
    <link rel="stylesheet" href=" {{url_for('static', filename= '/thank_you')}}">

</head>
<body>
    <h1> THANK YOU</h1>
    <P> We are greatful ad thankful for  trying out on our page</P>
    <p>Dear {{ name }},</p>
    <p>Thank you for your submission. We appreciate your input!</p>
    <p>Your email: {{ email }}</p>
</body>
</html>